 <html>
     <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf8">
         <title>Golang Gin</title>
     </head>
     <body>
     <p>github login</p>
     <a href="https://github.com/login/oauth/authorize?client_id=3f9d2552863099f642b8&scope=user:email">login</a>
     </body>
 </html>
