<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8">
	<title>Golang Gin</title>
</head>
<body>
   <section>
	   <h1>スコア算出</h1>
	   <p>github scoreを算出する</p>
	   <a href="https://github.com/login/oauth/authorize?client_id=e391fe29adceaf06ddbb&scope=user:email">github認証を許可して、スコアを算出する</a>
	   <p>qiita scoreを算出する</p>
	   <a href="https://qiita.com/api/v2/oauth/authorize?client_id=866bd56b7cc0c2cbed2ba0ddb5e3e08f4de323d0&scope=read_qiita">qiita認証を許可して、スコアを算出する</a>
   </section>
   <section>
	   <h1>スコア結果</h1>
	   <p>{{.title}}</p>
	   <p>総スター数 : {{.startCount}}</p>
	   <p>活動頻度 : {{.activetyCount}}</p>
	   <p>score : {{.githubScore}}</p>
   </section>
</body>
</html>
